/* Header.css */

/* Navbar styling */
.navbar-custom {
    background-color: #5D8736; /* Light background color */
    padding: 10px 20px; /* Custom padding */
}

/* Title of the header */
.navbar-title {
    font-size: 24px;
    font-weight: bold;
}

.live {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;  /* Space between icon and text */
    background-color: #5D8736;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
   
}

.live:hover {
   
    transform: scale(1.05);
}

/* Search form styling */
.navbar-search-form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

/* Search input box */
.navbar-search-input {
    width: 200px;
    margin-right: 10px;
}

/* Search button with icon */
.navbar-search-button i {
    font-size: 16px;
}

.navbar-brand {
    color: #F4FFC3;
}

/* Live Location Icon */
.live::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

