
.placeWindow {
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  max-width: 100px;
  cursor: pointer;
}

.gm-style-iw button {
  display: none !important;
}

.placeWindow h3 {
  color: #333;
  font-size: 11px;
  margin: 0;
}

.placeWindow img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.placeWindow > h3,
.placeWindow > img {
  display: block;
  text-align: center;
}

